@model UpdateProductVm

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col-md-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="SKU" class="form-label">SKU</label>
                <input asp-for="SKU" class="form-control">
                <span asp-validation-for="SKU" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="Price" class="form-label">Price</label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" style="color:red"></span>
            </div>

        </div>
        <div class="row align-items-center">
            <div class="mb-3 col-md-6">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea class="form-control" asp-for="Description" rows="4"></textarea>
                <span asp-validation-for="Description" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="CategoryId" class="form-label">Categories</label>
                <select class="form-select" asp-for="CategoryId" asp-items="new SelectList(ViewBag.Categories,nameof(Category.Id),nameof(Category.Name))">
                    <option selected>Open this select menu</option>

                </select>
                <span asp-validation-for="CategoryId" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="TagIds" class="form-label">TagIds</label>
                <select class="form-select" asp-for="TagIds" asp-items="new SelectList(ViewBag.Tags,nameof(Tag.Id),nameof(Tag.Name))">
                </select>
                <span asp-validation-for="TagIds" style="color:red"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-3">
                <div style="width:100px;height:100px">
                    <img width="100%" src="~/Upload/Product/@Model.productImages.FirstOrDefault(p=>p.IsPrime==true)?.ImgUrl">
                </div>
                <label asp-for="MainPhoto" class="form-label">MainPhoto</label>
                <input asp-for="MainPhoto" class="form-control">
                <span asp-validation-for="MainPhoto" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-3">
                <div style="width:100px;height:100px ">
                    <img width="100%" src="~/Upload/Product/@Model.productImages.FirstOrDefault(p=>p.IsPrime==false)?.ImgUrl">
                </div>
                <label asp-for="HoverPhoto" class="form-label">HoverPhoto</label>
                <input asp-for="HoverPhoto" class="form-control">
                <span asp-validation-for="HoverPhoto" style="color:red"></span>
            </div>

        </div>
        <div class="row">

            @foreach (var item in Model.productImages.Where(p => p.IsPrime == null)?.ToList())
            {
                <div class="col-2 position-relative">
                    <img style="width:100%;height:150px" src="~/Upload/Product/@item.ImgUrl" />
                    <input type="hidden" value="@item.Id" name="ImageIds">
                    <button type="button" class="btn btn-danger position-absolute custom-delete" style="right:10px">X</button>
                </div>
            }
            <label asp-for="Photos" class="form-label">Additional Photos</label>
            <input asp-for="Photos" class="form-control">
            <span asp-validation-for="Photos" style="color:red"></span>

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    var btn=document.querySelectorAll(".custom-delete")
    btn.forEach(b=>{
        b.addEventListener("click",function()
    {
        b.parentElement.remove()
    })
    })
</script>
