@model List<Product>

<div class="col-lg-12">
                <div class="swiper-container product-slider">
                    <div class="swiper-wrapper">
                       @foreach (var item in Model)
                       {
                            <div class="swiper-slide product-item">
                            <div class="product-img">
                                <a asp-action="Detail" asp-controller="Shop" asp-route-id=@item.Id>
                                    <img class="primary-img"
                                         src="~/Upload/Product/@item.ProductImages?.FirstOrDefault(p=>p.IsPrime==true).ImgUrl"
                                         alt="Product Images" />
                                    <img class="secondary-img"
                                         src="~/Upload/Product/@item.ProductImages?.FirstOrDefault(p=>p.IsPrime==false).ImgUrl"
                                         alt="Product Images" />
                                </a>
                                <div class="product-add-action">
                                    <ul>
                                        <li>
                                            <a href="wishlist.html"
                                               data-tippy="Add to wishlist"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-like"></i>
                                            </a>
                                        </li>
                                        <li class="quuickview-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#quickModal">
                                            <a href="#"
                                               data-tippy="Quickview"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-look"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cart.html"
                                               data-tippy="Add to cart"
                                               data-tippy-inertia="true"
                                               data-tippy-animation="shift-away"
                                               data-tippy-delay="50"
                                               data-tippy-arrow="true"
                                               data-tippy-theme="sharpborder">
                                                <i class="pe-7s-cart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <a class="product-name" asp-action="Detail" asp-controller="Shop" asp-route-id=@item.Id>@item.Name</a>
                                <div class="price-box pb-1">
                                    <span class="new-price">$@item.Price</span>
                                </div>
                                <div class="rating-box">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       }
                       
                    </div>
                </div>
            </div>
