@model List<Product>
<div class="product-item-wrap row">
    @foreach (var item in Model)
    {
        if (item.ProductImages.FirstOrDefault(p => p.IsPrime == true) != null)
        {
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="product-item">
                    <div class="product-img">
                        <a asp-controller="Shop" asp-action="Detail" asp-route-id=@item.Id>
                            <img class="primary-img"
                         src="~/Upload/Product/@item.ProductImages.FirstOrDefault(p=>p.IsPrime==true).ImgUrl"
                         alt="Product Images" />
                            @if (item.ProductImages.FirstOrDefault(p => p.IsPrime == false) != null)
                            {
                                <img class="secondary-img"
                         src="~/Upload/Product/@item.ProductImages.FirstOrDefault(p=>p.IsPrime==false).ImgUrl"
                         alt="Product Images" />
                            }

                        </a>
                        <div class="product-add-action">
                            <ul>
                                <li>
                                    <a href="wishlist.html"
                               data-tippy="Add to wishlist"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                </li>
                                <li class="quuickview-btn"
                            data-bs-toggle="modal"
                            data-bs-target="#quickModal">
                                    <a href="#"
                               data-tippy="Quickview"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                        <i class="pe-7s-look"></i>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="AddBasket" asp-controller="Cart" asp-route-id=@item.Id 
                               data-tippy="Add to cart"
                               data-tippy-inertia="true"
                               data-tippy-animation="shift-away"
                               data-tippy-delay="50"
                               data-tippy-arrow="true"
                               data-tippy-theme="sharpborder">
                                        <i class="pe-7s-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <a class="product-name" href="shop.html">@item.Name</a>
                        <div class="price-box pb-1">
                            <span class="new-price">$@item.Price</span>
                        </div>
                        <div class="rating-box">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
